{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <p><a href="{{ path("category_new") }}">Ajouter une nouvelle catégorie</a></p>
    {% for category in categories %}
        <div class="row">
            <h2>{{ category.name }}</h2>
            <a href="{{ path("category_show", { categoryName: category.name }) }}">Voir la catégorie</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}