{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-5">Ajouter une nouvelle série</h1>
        <div class="col-3 mx-auto">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Ajouter une série</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}