
@import url('https://fonts.googleapis.com/css2?family=Parisienne:wght@400&display=swap');

    $primary: #000000;
    $secondary: #5de0e5;
    $light: #c96ce5;


@import "~bootstrap/scss/bootstrap";
